
<h3 class='d-flex justify-content-between mb-5 mt-24'>
    <div>
      <%= link_to  edit_promo_classroom_path(@promo, @classroom), class: 'btn btn-outline-primary font-bold' do %>
           Classe <%= @classroom.title %>
      <% end %>
    </div>
  <div class="card m-2">
    <p class="font-bold m-2">Inscrire Un Eleve</p>
    <%= render "students/form" %>
  </div>
</h3>




