<% classroom = student.classroom %>
<% promo = classroom.promo %>

<% if student.persisted? %>
  <div class="p-4" id="student-<%= student.id %>">

    <!-- student form/!-->
    <div class="form-content d-none mb-2">
      <%= render "students/form" %>
    </div>



  </div>
<% end %>
