<% classroom = student.classroom %>
<% promo = classroom.promo %>

<% if student.persisted? %>
<div class="student_items mt-2">
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between hover:bg-gray-100">
     <div class="font-semibold">
      <span class=" ml-8 badge badge-pill badge-primary"> Primary</span> <%= student.name %>

     </div>
      <span type="button" class="btn btn-secondary btn-sm">Versement</span>
      <span type="button" class="btn btn-dark btn-sm">Notes</span>
    </li>
  </ul>
</div>
<% end %>
