<nav class="navbar navbar-expand-md fixed-top bg-white ">
  <a class="navbar-brand font-bold m-links logo ml-32" href="/">LNKARA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link font-semibold m-links" href="#">
          <i class="fas fa-house-user"></i> Accueil <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <ul class="mt-md-0">
      <li class="nav-item active">
        <%= link_to edit_user_registration_path, class: "m-links nav-link font-bold" do %>
          <i class="fas fa-user-circle"></i> Vous
        <% end %>
      </li>
    </ul>
     <ul class="mt-md-0">
      <li class="nav-item active">
        <%= link_to root_path, class: "m-links nav-link font-bold" do %>
          <i class="fas fa-user-circle"></i> Assistant
        <% end %>
      </li>
    </ul>

      <ul>
      <li class="nav-item active">
        <%= link_to destroy_user_session_path, method: :delete, class: "m-links nav-link font-bold mr-32" do %>
          <i class="fa fa-power-off" aria-hidden="true"></i> Déconnexion
        <% end %>
      </li>
    </ul>
  </div>
</nav>
